MONGODB_URI=your_mongodb_atlas_uri_here

PORT=your_port_here

# Supertokens Core Connect Setting
SUPERTOKENS_CONNECTION_URI=your_supertokens_connection_uri_here
SUPERTOKENS_API_KEY=your_supertokens_api_key_here

API_DOMAIN=your_api_domain_here
WEBSITE_DOMAIN=your_website_domain_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Facebook OAuth
FACEBOOK_CLIENT_ID=your_facebook_client_id_here
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret_here